<!doctype html>
<html lang="en">
<head>
<title>MTooltip</title>
<meta charset="utf-8" />
<link type="text/css" rel="stylesheet" href="/css/main.css" />
<script type="text/javascript" src="/scripts/main.js"></script>
</head>
<body>
{% include 'partials/main.twig' %}
</body>
</html>
