
.mtooltip
{
    position:      absolute;
    left:          1px;
    top:           -1000px;
    display:       inline-block;
    line-height:   120%;
    font-family:   Arial, Helvetica, sans-serif;
    font-size:     14px;
    border:        1px solid #000;
    border-radius: 5px;
    padding:       2px 4px;
    background:    none #fff;

} // .mtooltip
